footer.footer 
    .main
        .company
            img(src="/img/main-logo.png", alt="Brevard Property management and sales logo")
            p Brevard Property Management &amp; Sales is a property management company that services properties in the Brevard County area. We also have a sales team to assist with real estate transactions.
        .footer-navigation 
            h4 Browse
            nav
                ul(role="list") 
                    li: a(href="/tenants#rental-listings"): span rentals
                    li: a(href="#"): span property sales
                    li: a(href="#"): span contact 
                    li: a(href="https://secure.rentecdirect.com/powners/login.php"): span owner portal 
                    li: a(href="https://secure.rentecdirect.com/tenants/login.php"): span tenant portal
        .business-info 
            h4 Contact 
            .business-info__card
                svg: use(xlink:href="img/bpms-sprite.svg#pin")
                address 3659 S Hopkins Ave<br> Titusville FL, 32780  
            .business-info__card
                svg: use(xlink:href="img/bpms-sprite.svg#phone")
                a(href="tel:+13215555555") &#40;321&#41; 225-8771  
    .realtor-disclaimer
        p All property listing information contained on this website is deemed reliable but not guaranteed. All properties are subject to prior sale, change or withdrawal notice. brevardpms.com believes all information to be correct but assumes no legal responsibility for accuracy.
    .legal
        a(href="/privacy") privacy policy 
        a(href="/accessibility") accessibility  