header.header 
    a(href="/"): img(src="/img/main-logo.png", alt="brevard management and sales logo")
    button.mobile-toggle(aria-controls="primary-navigation" aria-expanded="false")
    nav.header-nav             
        ul.menu__primary-nav(role="list" data-visible="false")
            li: a(href="/"): span.menu__item  Home
            li: a(href="/tenants"): span.menu__item Rentals
            li: a(href="/sales"): span.menu__item Sales
            li: a(href="https://secure.rentecdirect.com/powners/login.php"): span.menu__item Owner Portal
            li: a(href="https://secure.rentecdirect.com/tenants/login.php"): span.menu__item Tenant Portal
            li: a.menu__cta(href="/#contact"): span Contact


            
            
