doctype html 
html(lang="en-US") 
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='keywords' content='brevard county property management, brevard county real estate, brevard county realtor')
        meta(name='description' content='Real estate property management and sales company serving Brevard county')
        meta(name='author' content='Josh Trujillo - Pixit Visuals')
        link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
        link(rel="stylesheet" href="/css/style.css")
        script. 
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-WCMFB5V');


        block title

    body
        noscript.   
                iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-WCMFB5V" height="0" width="0" style="display:none;visibility:hidden")

        include _attention
        include _header
        block content  
        include _footer

        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src='/js/scroll.js' defer)

