doctype html 
html(lang="en-US") 
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='keywords' content='brevard county property management, brevard county real estate, brevard county realtor')
        meta(name='description' content='Real estate property management and sales company serving Brevard county')
        meta(name='author' content='Josh Trujillo - Pixit Visuals')
        link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
        link(rel="stylesheet" href="/css/style.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet")
        block title

    body
        include _attention
        include _header
        block content  
        include _footer

        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src='/js/scroll.js')

