extends base

block title
    title Brevard Property Management And Sales


block content
    main
        section#hero
            .overlay
            picture.hero-background
                source(srcset="/img/hero-mobile.jpg" media="(max-width: 43.75em)")
                img.hero-background(src="/img/hero-desktop.jpg", alt="")
            .hero-block
                h1.hero-block__main-heading Brevard Property Management &amp; Sales, LLC. 
                p.hero-block__slogan Professional property management services &amp; real estate sales <br> that takes care of everything, so you don&apos;t have to!
                .cta-buttons
                    a(href="#contact").hero-cta property management
                    a(href="/sales").team-button I'm looking to buy or sell

        section#idxtest
            .idxtest-block 
                <script charset="UTF-8" type="text/javascript" id="idxwidgetsrc-37131" src="//brevardpms.idxbroker.com/idx/quicksearchjs.php?widgetid=37131"></script>
        //-         .cards-container
        //-             .card
        //-                 svg.card__icon: use(xlink:href="img/bpms-sprite.svg#marketing")   
        //-                 h4.card__title effective advertising 
        //-                 p.card__text We prioritize online methods to reach many interested renters. Our owners should never have to worry about extended vacancies due to a lack of marketing.
        //-             .card
        //-                 svg.card__icon: use(xlink:href="img/bpms-sprite.svg#application")
        //-                 h4.card__title screening process 
        //-                 p.card__text We want to safeguard that our property owners get the caliber of renters they deserve. We utilize a 6 Step Screening process on each and every adult rental applicant.
        //-             .card
        //-                 svg.card__icon: use(xlink:href="img/bpms-sprite.svg#24-7")
        //-                 h4.card__title on call 24/7 
        //-                 p.card__text Management of rental properties does not stop at 5:00 PM. Our property manager is on call 24 hours a day to handle any situation for our owners and our tenants.
        //-             .card
        //-                 svg.card__icon: use(xlink:href="img/bpms-sprite.svg#money")
        //-                 h4.card__title electronic payments 
        //-                 p.card__text We utilize direct deposit. An online portal can be activated that will allow unlimited access to the details of your account showing all rental income and disbursements.

        section#team
            .team__information 
                h3 Meet The Owners
                p Brevard Property Management &amp; Sales, LLC. is a real estate company located in Titusville, Florida. We specialize in both property management and real estate sales. <br><br>With 20 years experience, Lorrie Lovett founded Brevard Property Management & Sales with her daughter, Lexi Lovett, in 2023 and have built a team to bring quality service to their clients.<br><br>Working with people requires open communication at all times. We believe that the personal relationships that our team has developed over the years will keep us on top of our profession.
            //- .team__photo 
            //-     img(src="img/team.jpg", alt="brevardpms team members", loading="lazy")
                 
                
        //- section#more-benefits
        //-     .more-benefits__photos 
        //-         img(src="img/office.jpg", alt="brevardpms office", loading="lazy")
        //-     .more-benefits__information 
        //-         h3 Your investment is our #[span.gray-heading-smaller__accent top priority]
        //-         ul
        //-             li.benefits 
        //-                 svg.benefits__icon: use(xlink:href="img/bpms-sprite.svg#checkbox")
        //-                 p.benefits__text 20 years real estate and management experience
        //-             li.benefits 
        //-                 svg.benefits__icon: use(xlink:href="img/bpms-sprite.svg#checkbox")
        //-                 p.benefits__text Strong local vendor relations for repairs &amp; maintenance
        //-             li.benefits 
        //-                 svg.benefits__icon: use(xlink:href="img/bpms-sprite.svg#checkbox")
        //-                 p.benefits__text Online owner &amp; tenant portals for transactions and reports
        section#agents 
            .agents-block 
                h3 A Dedicated Team of Locals
                p.about-team With a commitment to excellence, our team is dedicated to helping you buy or sell your home with expertise and professionalism. Our team comprises knowledgeable professionals who are not just Realtors, but also proud locals of the area we serve. 
                .agent-profiles 
                    ul.agent-new  
                        li 
                            a(href="/lorrie-lovett"): img(src="/img/lorrie.jpg", alt="Lorrie Lovett")
                            p Lorrie Lovett
                        li 
                            a(href="/lexi-lovett"): img(src="/img/lexi.jpg", alt="Lexi Lovett")
                            p Lexi Lovett
                        li 
                            a(href="/carmen-minthorn"): img(src="/img/carman.jpg", alt="Carmen Minthorn")
                            p Carmen Minthorn
                        li 
                            a(href="/donna-sprague"): img(src="/img/donna.jpg", alt="Donna Sprague")
                            p Donna Sprague
                        li 
                            a(href="/steve-keener"): img(src="/img/steve.jpg", alt="Steve Keener")
                            p Steve Keener 
                        li 
                            a(href="/susan-ellsworth"): img(src="/img/susan.jpg", alt="Susan Ellsworth")
                            p Susan Ellsworth 
                        li 
                            a(href="/vanessa-irizarry"): img(src="/img/vanessa.jpg", alt="Vanessa Irizarry")
                            p Vanessa Irizarry 
                        li 
                            a(href="/traci-harrell"): img(src="/img/traci.jpg", alt="Traci Harrell")
                            p Traci Harrell 
                        //- li 
                        //-     a(href="/scott-sharp"): img(src="/img/scott.jpg", alt="Scott Sharp")
                        //-     p Scott Sharp 
                        //- li 
                        //-     a(href="/betty-buddemeyer"): img(src="/img/betty.jpg", alt="Betty Buddemeyer")
                        //-     p Betty Buddemeyer 
                        li 
                            a(href="/tony-dubravski"): img(src="/img/tony.jpg", alt="Tony Dubravski")
                            p Tony Dubravski
                //- .company-stats 
                //-     ul.stats 
                //-         li.stats__block 
                //-             h4.stats__numeric $1MM+
                //-             p.stats__stat total company sales
                //-         li.stats__block 
                //-             h4.stats__numeric 64
                //-             p.stats__stat 2023 transactions
                //-         li.stats__block 
                //-             h4.stats__numeric 12
                //-             p.stats__stat dedicated team members 
                        
        section#reviews
            .reviews-block
                h3 what our clients are saying
                .review-cards
                    .review
                        figure
                            p.review__client-name Thomson Paris
                            blockquote.review__text Lorrie and her team have been managing Sandpoint Apartments in Titusville for over a year now. I am impressed with her diligence to keep the houses rented, manage maintenance issue and maintain a professional and positive tenant relationship.<br><br> I would highly recommend her and her team to persons looking for managerial oversight of properties in Brevard county.
                        .rating 
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                    .review
                        figure
                            p.review__client-name Melissa Ausflug
                            blockquote.review__text It&apos;s always a pleasure working with Lorrie! She is extremely attentive, professional and always willing to help. If she doesn&apos;t have the answer she will make it a point to find the answer!<br><br> I highly recommend Lorrie and Brevard Property Management & Sales LLC for any of your property managing needs!
                        .rating 
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                    .review
                        figure
                            p.review__client-name Donna H
                            blockquote.review__text If you want your rental properties managed and maintained by the Best, or if your looking to buy or sell, this is the company you want! They are at the top for all things real estate. The professional I have had for my investment rentals for the last 10+ years and counting is Lorrie Lovett PRM,ABR,SRS,SFR.<br><br> Lorrie is the Best of the Best! For my property rentals, I would choose no one else! Their management skills, professionalism and responsiveness to both owners and tenants are top-notch. In addition, they have you, the owner and your investment rental property covered with background checks, tenant-owner documentations and prompt, efficient accounting practices.

                        .rating 
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                    .review
                        figure
                            p.review__client-name Ben Ward
                            blockquote.review__text Lorrie,<br><br> Mary and I want to thank you for the Harry &amp; David gift box. Lots of great snacks & goodies, especially the baklava, which I like.<br><br> Having worked in the real estate industry for over 40 years, I always heard about contracts closing in 5 days. We can now say we've experienced it. It was a pleasure working with you. Wishing you continued business success!

                        .rating 
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")
                            svg.star: use(xlink:href="img/bpms-sprite.svg#star")

        section#contact
            .contact-block__heading
                h3 Simplify Real Estate with a Dedicated Team
                p Learn more about our management or sales services and how we can help you with your real estate journey today
            .contact-block__form
                form#homepage-contact-form
                    label(for="firstname") First name
                    input(type="text" id="firstname" name="firstname" placeholder="John" required)
                    label(for="lastname") Last name
                    input(type="text" id="lastname" name="lastname" placeholder="Doe" required)
                    label(for="email") email address
                    input(type="email" id="email" name="email" placeholder="johndoe@gmail.com" required)
                    label(for="phone") Phone Number
                    input(type="tel" id="phone" name="phone" placeholder="3215551234" required)
                    label(for="message") message
                    textarea( id="message" name="message" placeholder="How we can help you and any relevant information you'd like to provide" rows="6" required)
                    input.submit(type="submit" value="submit")  

        //- section#landlord-faq
        //-     .landlord-faqs-block
        //-         h3 Landlord FAQs 
        //-         .landlord-faqs 
        //-             .faq
        //-                 .question 
        //-                     h3 Who pays for maintenance costs?
        //-                     svg: use(xlink:href="img/bpms-sprite.svg#right-chevron")
        //-                 .answer
        //-                     p Your property Manager will facilitate the maintenance request but the cost will be the responsibility of the Owner.
        //-             .faq
        //-                 .question 
        //-                     h3 What out of pocket expenses should I consider?
        //-                     svg: use(xlink:href="img/bpms-sprite.svg#right-chevron")
        //-                 .answer
        //-                     p Our company&apos;s only fee is our management fee.
        //-             .faq
        //-                 .question 
        //-                     h3 What is the tenant screening process?
        //-                     svg: use(xlink:href="img/bpms-sprite.svg#right-chevron")
        //-                 .answer
        //-                     p Prospective tenants will be screened for national criminal background, credit history, evictions, and pedophile. The current/previous rental history and current employment/income will be verified. 
        //-             .faq
        //-                 .question 
        //-                     h3 How is the property rent determined?
        //-                     svg: use(xlink:href="img/bpms-sprite.svg#right-chevron")
        //-                 .answer
        //-                     p Rental Rates are determined by the current market in your area.
        //-             .faq
        //-                 .question 
        //-                     h3 What is the duration of a typical lease?
        //-                     svg: use(xlink:href="img/bpms-sprite.svg#right-chevron")
        //-                 .answer
        //-                     p For long term rentals, typical leases are for one year and under certain circumstances can be agreed upon for two years. Due to law changes, we do not recommend leases for longer than 2 years. Short term rentals are anything less than 6 months and require a sales tax account through the Florida Dept of Revenue with quarterly or monthly filings.
        //-             .faq
        //-                 .question 
        //-                     h3 How are maintenance costs handled?
        //-                     svg: use(xlink:href="img/bpms-sprite.svg#right-chevron")
        //-                 .answer
        //-                     p Maintenance costs that are under $500 will be covered by the management company and then deducted from the next month&apos;s rental proceeds. Any repair over $500, we will ask the owner to pay the vendor directly.
        //-             .faq
        //-                 .question 
        //-                     h3 Should I allow pets?
        //-                     svg: use(xlink:href="img/bpms-sprite.svg#right-chevron")
        //-                 .answer
        //-                     p Allowing pets is a personal choice for most clients. Please note that Service animals are not considered pets, it&apos;s a disability defined by the ADA. Service animals can not be denied so long as their owners provide proper documentation.
    script(src='/js/homepage.js' defer)
    script(src='/js/form.js' defer)
