extends base

block title
    title Brevard Real Estate

block content
    main
        section#hero-sales 
            .overlay
            picture.hero-background 
                source(srcset="/img/sales-mobile.jpg" media="(max-width: 43.75em)")
                img.hero-background(src="/img/sales-desktop.jpg", alt="")
            .hero-sales-block
                h1 Your guide for buying or selling
                p Well versed in the Brevard County market, our team will help you through real estate transactions.
                a(href="#contact").hero-cta get started today
        section#meet-the-team
            .meet-the-team-block 
                h3 meet the team! 
        section#about-brevard 
            .about-brevard-block 
                .brevard-map
                    .brevard-map__outline
                        button#ksc.brevard-info: svg: use(xlink:href="img/bpms-sprite.svg#info")
                        button#beaches.brevard-info: svg#beaches: use(xlink:href="img/bpms-sprite.svg#info") 
                        button#entertainment.brevard-info: svg: use(xlink:href="img/bpms-sprite.svg#info")  
                .brevard-content
                    h3.brevard-header About brevard county 
                    p.brevard-text Located on the coast of Central Florida, Brevard County is a place where pristine beaches, vibrant communities, and a world of exploration awaits. From awe-inspiring sightings to an endless array of activities, this county offers a blend of natural wonders, cultural treasures, and boundless opportunities.<br><br> Whether you seek thrilling rocket launches, walks on the beach, or the perfect blend of urban amenities and small-town charm, Brevard County has much to offer. If you are moving here, there will be much to discover in Florida&apos;s Space Coast!
                    button.reset reset
    script(src='/js/sales.js' defer)