extends base

block title
    title Tony Dubravski - BrevardPMS


block content
    main
        section#agent
            .overlay-agent
            picture.hero-background-agent
                source(srcset="/img/hero-mobile.jpg" media="(max-width: 43.75em)")
                img.hero-background-agent(src="/img/hero-desktop.jpg", alt="")
            .agent-block
                .agent-info
                    h1.agent-name Tony Dubravski, Realtor
                    p.agent-bio I come from a construction background of measuring, designing and installing stair and balcony railings on some of the most beautiful homes, condos and commercial buildings and properties in Florida. Is a home with a view is what you are looking for or want to sell? Please don&apos;t hesitate to contact me. I would love to make all your real estate dreams a reality.
                    .cta-buttons
                        a(href="tel:3217473747").hero-cta 321.747.3747
                .agent-photo 
                    img.agent-img(src="img/tony.jpg", alt="Tony Dubravski")