extends base

block title
    title Vanessa Irizarry - BrevardPMS


block content
    main
        section#agent
            .overlay-agent
            picture.hero-background-agent
                source(srcset="/img/hero-mobile.jpg" media="(max-width: 43.75em)")
                img.hero-background-agent(src="/img/hero-desktop.jpg", alt="")
            .agent-block
                .agent-info
                    h1.agent-name Vanessa Irizarry, Realtor
                    p.agent-bio When you love what you do, you will never work a day in your life. Vanessa has surrounded herself with the most supportive, bold, knowledgeable, powerhouse group of ladies and tapping into the magic.<br><br>Vanessa's experience and expertise include twenty plus years in real estate, telecommunications, cable industry, and hurricane damage assessment as a contractor inspector with FEMA. She has an inside knowledge and different perspective because of her diverse work background in many fields. Due to her boots on the ground, day to day activities, she is able to quickly match up her customer's needs and expectations. No client is too big or too small to get her immediate and undivided attention.<br><br> You can find Vanessa immersed in her community whether enjoying her Class B travel trailer, camping at our national and state parks with her three dogs, doing 5K challenges for breast cancer, enjoying our Florida beaches snorkeling or paddle boarding with her family, riding her e-bike with her husband throughout our Florida trails, doing foodie tours, attending community events with her friends or volunteering to help rescue animals. Vanessa has the pulse of the community whether working or relaxing.<br><br> Strengths: Real Estate, Sales, Project Management, Customer Focused Vision, Presentations, Telecommunications Consulting, Team Building, Cultivating Relationships, Strategic Sales & Marketing, Creative Analysis, Creative Negotiations<br><br> Personal: Married to her husband Carlos for 43 years, has three children, seven grandchildren, and two rescue dogs
                    .cta-buttons
                        a(href="tel:3217947872").hero-cta 321.794.7872
                .agent-photo 
                    img.agent-img(src="img/vanessa.jpg", alt="Vanessa Irizarry")